# Rename: terraform.tfvars.example → terraform.tfvars

# AWSのアクセスキー
aws_access_key = "AKIA_____________________"
aws_secret_key = "_______________________________"

# 秘密鍵ファイルのPath
# example: ~/.ssh/keys/hogehoge
ssh_secret_key_path = ""

# 公開鍵ファイルのPath
# example: ~/.ssh/keys/hogehoge.pub
ssh_public_key_path = ""

# 各種リソースの名前のprefix
prefix = "Test"

# 東京に変更
# region = "ap-northeast-1"

# 東京のAmazon Linuxに変更
# ami = "ami-383c1956"

# SSHの待ち受けポート変更
# ssh_port = 10022
